sqlalchemy
alembic
fastapi
uvicorn[standard]
phonenumbers
jose
passlib
python-jose 
libgravatar
python-multipart
logging
psycopg2-binary
pydantic[email]
fastapi-mail
redis
fastapi-limiter
cloudinary
asyncpg